* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.description {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff7440;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('/images/circle.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('/images/check.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
    color: #ff7440;
}

footer {
    width: 100%;
    background-color: transparent;
    /* Ana tema rengini footer'a uygulayalım */
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    max-width: 540px;
    margin: 0 auto; 
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

/* Telefon ve tablet için medya sorguları */
@media (max-width: 768px) {
    .todo-app {
        margin: 50px auto 20px;
        padding: 30px 20px 60px;
    }

    .row {
        flex-direction: column;
        padding: 10px;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        padding: 16px;
    }

    ul li {
        font-size: 15px;
        padding: 12px 8px 12px 40px;
    }

    ul li::before {
        height: 24px;
        width: 24px;
        top: 12px;
        left: 5px;
    }

    ul li span {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    footer {
        padding: 15px 10px;
    }

    .footer-content {
        font-size: 14px;
    }
}